@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Poppins:wght@200&family=Sevillana&display=swap");

* {
  font-family: "Delicious Handrawn", cursive, Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
